# Files
data.location=~/.task



#
taskd.certificate=/home/zhudson/.task/zhudson.cert.pem
taskd.key=/home/zhudson/.task/zhudson.key.pem
taskd.ca=/home/zhudson/.task/ca.cert.pem
taskd.server=taris.zahite.net:53589
taskd.credentials=zahite/zhudson/{{  task_zhudson  }}

urgency.user.tag.shelf.coefficient=-5.0
urgency.user.tag.inProgress.coefficient=2.0

