---
- name: install base packages
  become: true
  tags: installs
  apt:
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
      - i3
      - dmenu
      - i3lock
      - feh
      - xserver-xorg
      - xinit
      - vim-nox
      - compton
      - lemonbar
      - python3-pip
      - fonts-powerline
      - tmux
      - conky
      - luakit
      - zsh
      - fonts-font-awesome
      - lightdm
      - git
      - xfce4-terminal
      - ansible
      - openvpn
      - firefox-esr
      - htop

- name: change shell to zsh
  become: yes
  lineinfile:
    create: yes
    dest: /etc/passwd
    regexp: '^solo'
    line: 'solo:x:1000:1000:solo,,,:/home/solo:/usr/bin/zsh'


- name: bumblebee repo
  become: yes
  become_user: solo
  git:
    repo: https://github.com/tobi-wan-kenobi/bumblebee-status
    dest: /home/solo/.bumblebee-status

- name: install oh-my-zsh
  shell: sh -c "$(wget https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh -O -)"
  args:
    chdir: /home/solo
    creates: /home/solo/.oh-my-zsh/README.md

- name: zsh powerlevel 9k repo
  become: yes
  become_user: solo
  git:
    repo: https://github.com/bhilburn/powerlevel9k.git
    dest: /home/solo/.oh-my-zsh/custom/themes/powerlevel9k


- name: change shell to zsh
  become: yes
  lineinfile:
    create: yes
    dest: /home/solo/.zshrc
    regexp: '^ZSH_THEME'
    line: 'ZSH_THEME="powerlevel9k/powerlevel9k"'

- name: install python modules packages
  become: true
  tags: installs
  apt:
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
      - python3-powerline
      - python3-psutil
      - python3-netifaces
      - python3-requests
      - python3-power
      - python3-i3ipc


- name: add zsh config
  tags: configs
  copy:
    src: files/.zshrc
    dest: ~/.zshrc


- name: add bar config
  tags: configs
  copy:
    src: files/bar.sh
    dest: ~/bar.sh

- name: add bar2 config
  tags: configs
  copy:
    src: files/bar2.sh
    dest: ~/bar2.sh

- name: copy background image
  tags: configs
  copy:
    src: files/bg.jpg
    dest: ~/bg.jpg

- name: copy background image
  tags: configs
  copy:
    src: files/bg.png
    dest: ~/bg.png


- name: add bash config
  tags: configs
  copy:
    src: files/.bashrc
    dest: ~/.bashrc

- name: Create i3 config dir
  file:
    path: ~/.config/i3
    state: directory


- name: add i3 config
  tags: configs
  copy:
    src: files/config
    dest: ~/.config/i3/config


- name: create xfce4 termnal config dir
  file:
    path: ~/.config/xfce4/terminal/
    state: directory


- name: copy xfce4 terminal config
  tags: configs
  copy:
    src: files/terminalrc
    dest: ~/.config/xfce4/terminal/terminalrc


- name: add vim  config
  tags: configs
  copy:
    src: files/.vimrc
    dest: ~/.vimrc

- name: add tmux config
  tags: configs
  copy:
    src: files/tmux.conf
    dest: ~/.tmux.conf


- name: add lightdm.conf
  tags: configs
  become: true
  copy:
    src: files/lightdm.conf
    dest: /etc/lightdm/lightdm.conf

- name: create .task dir
  file:
    path: ~/.task
    state: directory



- name: add lightdm-gtk-greeter.conf
  tags: configs
  become: true
  copy:
    src: files/lightdm-gtk-greeter.conf
    dest: /etc/lightdm/lightdm-gtk-greeter.conf




- name: pull the seed repo
  become: yes
  become_user: zhudson
  git:
    repo: https://github.com/satiku/seed
    dest: /home/zhudson/projects/seed



- name: install i3-gaps dependencies
  become: true
  tags: installs
  apt:
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
      - gcc
      - make
      - dh-autoreconf
      - libxcb-keysyms1-dev
      - libpango1.0-dev
      - libxcb-util0-dev
      - xcb
      - libxcb1-dev
      - libxcb-icccm4-dev
      - libyajl-dev
      - libev-dev
      - libxcb-xkb-dev
      - libxcb-cursor-dev
      - libxkbcommon-dev
      - libxcb-xinerama0-dev
      - libxkbcommon-x11-dev
      - libstartup-notification0-dev
      - libxcb-randr0-dev
      - libxcb-xrm0
      - libxcb-xrm-dev
      - libxcb-shape0-dev


- name: pull i3-gaps
  become: yes
  become_user: solo
  register: pull_i3gaps
  git:
    repo: https://github.com/Airblader/i3
    dest: /home/solo/i3-gaps


- name: run i3-gaps compile script
  become: yes
  become_user: solo
  when: pull_i3gaps.changed
  script: files/i3-gaps_install.sh
  args:
    chdir: /home/solo
